[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
beautifulsoup4 = "==4.9.3"
lxml = "==4.6.3"
Flask = "==2.0.0"
Werkzeug = "==2.0.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
